
body{position:absolute;
background-image:url(mainbackground2.png);height:1800px;}

#page{position:relative;}


a{text-decoration:none;color:#e6e3bb;}

ol>li{display:inline;text-decoration:none;}

#header{
position:relative;
left:194px;
top:-28px;
width:110%;
}

#year{position:relative;
top:-90px;
left:215px;
font-size:30px;
font-family:Myriad Pro;
color:#e6e3bb;
cursor:pointer;}

#line{position:relative;
top:-128px;
left:320px;}

#list{position:relative;
top:-170px;
left:310px;}


ol{
color:#e6e3bb;
position:relative;
text-decoration:none;
font-family:Myriad Pro;
font-size:15px;
word-spacing:30px;

}


#welcomebutton{position:absolute;
top:-10px;
left:820px;}

#welcometext{position:absolute;
top:-16px;
left:840px;
font-family:Myriad Pro;
font-size:14px;
color:#7b7a6d;
}

#signbutton{position:absolute;
top:-5px;
left:1020px;
cursor:pointer;}

#signtext{position:absolute;
top:2px;
left:1030px;
font-family:Myriad Pro;
font-size:14px;
color:#e6e3bb;
cursor:pointer;}

#feature{position:absolute;
top:40px;
left:370px;}

#back{position:absolute;
top:317px;
left:185px;}

#featuredtext{position:absolute;
top:333px;
left:633px;
font-family:Myriad Pro;
font-size:18px;
color:#ffffff;}

#next1{position:absolute;
top:330px;
left:575px;
cursor:pointer;}

#next2{position:absolute;
top:325px;
left:759px;
cursor:pointer;}


#box1{position:absolute;
top:390px;
left:220px;
cursor:pointer;}


#box2{position:absolute;
top:390px;
left:360px;
cursor:pointer;}


#box3{position:absolute;
top:388px;
left:490px;
cursor:pointer;}

#aid{position:absolute;
top:390px;
left:635px;}

#aidtext1{position:absolute;
top:390px;
left:680px;
font-family:Myriad Pro;
font-size:18px;
color:#8e4423;}

#aidtext2{position:absolute;
top:413px;
left:680px;
font-family:Myriad Pro;
font-size:12px;
font-weight:500;
color:#646363;}


#aidtext3{position:absolute;
top:440px;
left:640px;
font-family:Myriad Pro;
font-size:13px;
color:#7b7a6d;}


#hr{position:absolute;
top:522px;
left:200px;}

#circle1{position:absolute;
top:547px;
left:300px;}

#circle2{position:absolute;
top:546px;
left:627px;}

#circle3{position:absolute;
top:546px;
left:939px;}

#researchtext1{position:absolute;
top:670px;
left:330px;
font-family:Myriad Pro;
font-size:18px;
color:#8e4423;}


#researchtext2{position:absolute;
top:680px;
left:280px;
font-family:Myriad Pro;
font-size:13px;
color:#7b7a6d;}

#learn1{position:absolute;
top:810px;
left:320px;
cursor:pointer;}

#learntext1{position:absolute;
top:822px;
left:340px;
font-family:Myriad Pro;
font-size:14px;
color:#e6e3bb;cursor:pointer;}

#worktext1{position:absolute;
top:670px;
left:650px;
font-family:Myriad Pro;
font-size:18px;
color:#8e4423;}


#worktext2{position:absolute;
top:680px;
left:580px;
font-family:Myriad Pro;
font-size:13px;
color:#7b7a6d;}

#learn2{position:absolute;
top:810px;
left:630px;
cursor:pointer;}

#learntext2{position:absolute;
top:822px;
left:650px;
font-family:Myriad Pro;
font-size:14px;
color:#e6e3bb;
cursor:pointer;}

#delivertext1{position:absolute;
top:670px;
left:960px;
font-family:Myriad Pro;
font-size:18px;
color:#8e4423;}


#delivertext2{position:absolute;
top:680px;
left:900px;
font-family:Myriad Pro;
font-size:13px;
color:#7b7a6d;}

#learn3{position:absolute;
top:810px;
left:940px;
cursor:pointer;}

#learntext3{position:absolute;
top:822px;
left:960px;
font-family:Myriad Pro;
font-size:14px;
color:#e6e3bb;
cursor:pointer;}

#jsback{position:absolute;
top:874px;
left:216px;
z-index:2;}

#jsbacktext{position:absolute;
top:884px;
left:537px;
font-family:Myriad Pro;
font-size:15px;
color:#e6e3bb;
z-index:3;
cursor:pointer;}

#Testimonials{position:absolute;
border:2px solid #242729;
border-top:2px solid #828486;
border-radius:5pt;
background-color:#242729;
background-position:-10px -10px;
background-repeat:no-repeat;
width:120px;height:30px;
color:#5b5b5b;
top:880px;
left:631px;
font-family:Myriad Pro;
font-size:13px;
cursor:pointer;
z-index:1;
}

#BlogPosts{position:absolute;
border:2px solid #242729;
border-top:2px solid #828486;
border-radius:5pt;
background-color:#242729;
background-position:-10px -10px;
background-repeat:no-repeat;
width:120px;height:30px;
color:#5b5b5b;
top:880px;
left:749px;
font-family:Myriad Pro;
font-size:13px;
cursor:pointer;}


#arrow1{position:absolute;
top:970px;
left:235px;
z-index:3;
cursor:pointer;}


#arrow2{position:absolute;
top:975px;
left:1080px;
z-index:3;
cursor:pointer;}


#gizmodoimg{position:absolute;
top:930px;
left:335px;
z-index:3;}


#gizmodotext1{position:absolute;
top:930px;
left:395px;
z-index:3;
font-family:Adobe Gothic Std B;
font-size:18px;
color:#8e4423;}

#gizmodotext2{position:absolute;
top:950px;
left:395px;
font-family:Myriad Pro;
font-size:13px;
color:#646363;
z-index:3;}


#gizmodotext3{position:absolute;
top:970px;
left:350px;
font-family:arial;
font-size:15px;
color:#7b7a6d;
z-index:3;
cursor:pointer;}

#gizmodotext3:hover{color:#e6e3bb;}


#freelanceswitchimg{position:absolute;
top:930px;
left:585px;
z-index:3;}


#freelanceswitchtext1{position:absolute;
top:930px;
left:635px;
font-family:Adobe Gothic Std B;
font-size:18px;
color:#8e4423;
z-index:3;}


#freelanceswitchtext2{position:absolute;
top:950px;
left:635px;
font-family:Myriad Pro;
font-size:13px;
color:#646363;
z-index:3;}


#freelanceswitchtext3{position:absolute;
top:970px;
left:590px;
font-family:arial;
font-size:15px;
color:#7b7a6d;
z-index:3;
letter-spacing:.5px;
cursor:pointer;}

#freelanceswitchtext3:hover{color:#e6e3bb;}


#mashableimg{position:absolute;
top:935px;
left:830px;
z-index:3;}


#mashabletext1{position:absolute;
top:930px;
left:875px;
font-family:Adobe Gothic Std B;
font-size:18px;
color:#e6e3bb;
z-index:3;}


#mashabletext2{position:absolute;
top:950px;
left:875px;
font-family:Myriad Pro;
font-size:13px;
color:#646363;
z-index:3;}


#mashabletext3{position:absolute;
top:970px;
left:845px;
font-family:arial;
font-size:15px;
color:#7b7a6d;;
z-index:3;
letter-spacing:.5px;
cursor:pointer;}

#mashabletext3:hover{color:#e6e3bb;}

#hand{position:absolute;
top:975px;
left:970px;
z-index:3;}


#pharetratext1{position:absolute;
top:1160px;
left:225px;
font-family:Myriad Pro;
font-size:18px;
color:#8e4423;
letter-spacing:.5px;
z-index:3;}


#pharetratext2{position:absolute;
top:1170px;
left:225px;
font-family:Myriad Pro;
font-size:13px;
color:#7b7a6d;
z-index:3;}


#box{position:absolute;
top:1142px;
left:437px;
z-index:3;}



#lineseperator{position:absolute;
top:1130px;
left:613px;
z-index:3;}

#newsletter{position:absolute;
top:1160px;
left:655px;
font-family:Myriad Pro;
font-size:18px;
color:#8e4423;
z-index:3;
letter-spacing:.5px;
}


#company{position:absolute;
border:1px solid #757468;
border-radius:5pt;
background-image:url(formback.png);
background-position:0px 0px;
background-repeat:no-repeat;
width:277px;height:40px;
top:1193px;
left:650px;
font-family:Myriad Pro;
font-size:14px;
color:#757468;
z-index:3;
letter-spacing:.5px;
z-index:3;}

#signup{position:absolute;
border:1px solid #9e4e28;
border-radius:5pt;
background-image:url(signup2.png);
background-position:0px 0px;
background-repeat:no-repeat;
width:77px;height:33px;
top:1196px;
left:847px;
font-family:Myriad Pro;
font-size:16px;
color:white;
z-index:3;
letter-spacing:.5px;
z-index:3;
cursor:pointer;}

#tweetout{position:absolute;
top:1260px;
left:650px;
z-index:3;}

#tweet{position:absolute;
top:1270px;
left:665px;
z-index:3;}

#follow{position:absolute;
top:1305px;
left:650px;
z-index:3;}

#checkout{position:absolute;
top:1249px;
left:714px;
z-index:3;}

#checkouttext{position:absolute;
top:1280px;
left:730px;
font-family:Myriad Pro;
font-size:15px;
color:#6f6f64;
z-index:3;
}


#flickertext{position:absolute;
top:1400px;
left:230px;
font-family:Myriad Pro;
font-size:18px;
color:#8e4423;
z-index:3;
letter-spacing:.5px;}


#flickerline{position:absolute;
top:1420px;
left:207px;
z-index:3;}

#flickerbox{position:absolute;
top:1440px;
left:209px;
z-index:3;}

#clients{position:absolute;
top:1400px;
left:585px;
font-family:Myriad Pro;
font-size:18px;
color:#8e4423;
z-index:3;
letter-spacing:.5px;}

#clientsline{position:absolute;
top:1420px;
left:550px;
z-index:3;}

#newyork{position:absolute;
top:1410px;
left:530px;
z-index:3;
padding:10px 10px 0px 10px 0px;
cursor:pointer;}



#newyork>pre>ul>li{padding-top:-10px;list-style:none;cursor:pointer;}

#friends{position:absolute;
top:1400px;
left:830px;
font-family:Myriad Pro;
font-size:18px;
color:#8e4423;
z-index:3;
letter-spacing:.5px;cursor:pointer;}

#friendsline{position:absolute;
top:1420px;
left:790px;
z-index:3;}

#list2{position:absolute;
top:1410px;
left:770px;
z-index:3;cursor:pointer;
}

#list2>pre>ul>li>a{font-family:Myriad Pro;
color:#4f504b;font-size:15px;padding-top:-10px;list-style:none;cursor:pointer;}

li{list-style:none;cursor:pointer;}



#Pages{position:absolute;
top:1400px;
left:1060px;
font-family:Myriad Pro;
font-size:18px;
color:#8e4423;
z-index:3;
letter-spacing:.5px;cursor:pointer;}

#pagesline{position:absolute;
top:1420px;
left:1020px;
z-index:3;}

#list3{position:absolute;
top:1410px;
left:1020px;
z-index:3;cursor:pointer;
}

#list3>pre>ul>li>a{font-family:Myriad Pro;
color:#4f504b;font-size:15px;padding-top:-10px;list-style:none;cursor:pointer;}

#copyright{position:absolute;
top:1630px;
left:230px;
font-family:Myriad Pro;
font-size:12px;
color:#725142;
z-index:3;
letter-spacing:.5px;}

#list4{position:absolute;
top:1620px;
left:890px;
font-family:Myriad Pro;
font-size:12px;
color:#725142;
z-index:3;cursor:pointer;}







