
#menu ul, #menu li {
	line-height:22px;
	text-align:left;
	font-size:14px;
}
/* menu starts here */

/* tab starts here */

#menu li {
	float:left;
	display:block;
	position:relative;
	text-align:center;
	padding:4px 10px;
	margin:7px 30px 0 0;
	border:none;
}

#menu li a {
	font-size:14px;
	color: #999999;
	display:block;
	outline:0;
	text-decoration:none;
}
#menu li:hover a {
	color:#161616;
}
/* menu containers here  */

#menu .menu-container-1,#menu .menu-container-2,#menu .menu-container-3,#menu .menu-container-4 {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em;
	text-align:left;
	padding:10px 5px;
	border:1px solid #b7b7b7;
	border-top:none;
	/* rounded corners */
    
    border-radius:0 5px 5px 5px;
	-moz-border-radius:0 5px 5px 5px;
	-webkit-border-radius:0 5px 5px 5px;
	/* gradient */
    background:#444444;
	background: -moz-linear-gradient(center top, #444444, #111111) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, left top, left bottom, from(#444444), to(#111111));
}
#menu .menu-container-1 {
	width:140px;
}
#menu .menu-container-2 {
	width:280px;
}
#menu .menu-container-3 {
	width:420px;
}
#menu .menu-container-4 {
	width:560px;
}
#menu li:hover .menu-container-1, #menu li:hover .menu-container-2, #menu li:hover .menu-container-3, #menu li:hover .menu-container-4 {
	top:auto;
	left:-1px;
}
/* columns ici */

#menu .column-1, #menu .column-2 {
	display:inline;
	float:left;
	position:relative;
	margin:0 5px;
}
#menu .column-1 {
	width:130px;
}
#menu .column-2 {
	width:260px;
}
#menu .column-3 {
	width:390px;
}
#menu .column-4 {
	width:520px;
}
/* right menu */

#menu .menu-right {
	position:absolute;
	left:1100px;
	top:10px;
	margin-right:0px;
}
#menu li .align-right {
	/*rounded corners */
    
    border-radius:5px 0 5px 5px;
	-moz-border-radius:5px 0 5px 5px;
	-webkit-border-radius:5px 0 5px 5px;
}
#menu li:hover .align-right {
	left:auto;
	right:-1px;
	top:auto;
}
/* menu h2, h3, p, etc.... */

#menu p, #menu h2, #menu h3, #menu ul li {
	line-height:21px;
	font-size:12px;
	text-align:left;
}
#menu p {
	line-height:18px;
	margin-bottom:10px;
	color:#F2E8E8;
}
#menu h3, #menu h2 {
	font-size:11px;
	margin:7px 0 14px 0;
	padding-bottom:5px;
	text-transform:uppercase;
	color: #999999;
}
#menu li:hover div a {
	box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
	color: #666666;
	font-size: 11px;
	padding-left: 6px;
}
#menu li:hover div a:hover {
	background: -moz-linear-gradient(#04ACEC, #0186BA) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA));
	color: #FAFAFA;
	background:#04ACEC;
}
#menu li ul {
	box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
	list-style:none;
	padding:0;
	margin-bottom:12px;
}
#menu li ul li {
	float: none;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: left;
	width: 130px;
}
#menu li ul li:hover {
	background: none;
	border: medium none;
	margin: 0;
	padding: 0;
}
/* login here */
